*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    font-family: 'lato','arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
} 
.row {
    max-width: 1140px;
    margin: 0 auto;
}


/* background */
header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/* text */
h1{
    margin: 0;
    color: #fff;
    font-size: 240%;
    Font-weight: 300; 
    text-transform: uppercase; 
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-top:0; 
    margin-bottom:20px;
}
/* text and btn */
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
/* gilakebi */

.btn-full{
    background-color:  #e67e22;
    border: 1px solid #e67e22;
}
.btn-ghost{
    border: 1px solid #e67e22; 

}
.btn:hover,
.btn:active { 
    background-color: #cf6d17;
}
.Btnfull:hover, 
.Btn-full:active { 
    border:1px solid #cf6d17;
} 
.Btn-ghost:hover, 
.Btn-ghost:active { 
    border: 1px solid #cf6d17; color:#fff;
} 
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px; 
    font-weight:300;
    text-decoration: none;
    border-radius : 200px;
    color:#fff;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
 }
 /* logo */
 .logo{
    height: 100px; 
    width: auto; 
    float: left;
    margin-top: 20px;
 }
 /* navigaciis meniu */
 .main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
 }
 .main-nav li{
    display: inline-block; 
    margin-left:40px;
 }
 .main-nav li a{
    color:#fff; 
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 90%;
 }
 .main-nav li a:hover, 
 .main-nav li a:active{
    border-bottom: 2px solid #e67e22; 
  } 
  .main-nav li a:link,
  .main-nav li a:visited{
    transition: border 0.5s;
  }
  .main-nav li a:link{
    padding: 8px 0;
  }
  section{
      padding: 45px 0;
  }

  h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
  }
  h2:after{
      display: block;
      height: 2px;
      background-color: #e67e22;
      content: " ";
      width: 100px;
      margin: 0 auto;
      margin-top: 30px; 
  }
  /*paragraphs*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box{
    padding: 1%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}
/*pargraphs*/
.box p{
    font-size: 100%;
    line-height: 145%;
}
.icon-big{
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin: 10px;
}
/* meals */
.meals-showcase{
    padding: 0;
    width: 100%;
    list-style: none;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}
.section-meals{
    padding: 0;
}
/*--- how it work ----*/
.section-steps{
    background-color: #f4f4f4;
}
.steps-box{
    margin-top: 30px;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
}
.steps-box:last-child{
    padding-left: 3%;
}
.app-screen{
    width: 40%;
    margin-left: 50%;
}
.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.works-steps div{
    color: #e67e22;
    border: 2px solid #e67e22;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    float: left;
    font-size: 150%;
    margin-right: 10px;
}
.works-steps{
    margin-top: 51px;
}
.btn-app img{
    width: 150px;
    height: auto;
    margin-top: 50px;
}
/*------ cities ------*/
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    transform: scale(1.15);
    transition: transform 0.3s;
}
.box img:hover{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    transform: scale(1.05);
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    vertical-align: middle;
    line-height: 120%;
    margin-top: -4px;
}
/*------- testlimonials ------*/
.section-testlimonials{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote{
    padding: 1px;
    font-style: italic;
    line-height: 145%;
    position: relative;
}
cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
blockquote::before{
    content: '\201c';
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
/*------- sign up -------*/
.section-plans{
    background-color: #f4f4f4;
}
.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}